<div class="page-header">
  <%= link_to missing_people_path, class: 'btn btn-default' do %>
    All Missing_people
  <% end %>
  <%= link_to edit_missing_person_path(@missing_person), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show missing_person</h1>
</div>

<dl class="dl-horizontal">
</dl>
